.article {
    min-height:200px;
    margin-top:50px;
    width:850px;
    margin-left:50%;
    transform: translate(-50%, 0);
}

.article p {
    font-size:18px;
    line-height:1.35em;
    text-indent: 40px;
    text-align: justify;
}

.article h1 {
    margin-top:35px;
    font-size:25px;
}

.box {
    display:flex;
    flex-direction: column;
    align-items: center;
    float:left;
    margin-right:15px;
}

.box.right {
    float:right;
    margin-right:0;
    margin-left:20px;
}

.box img {
    display:block;
    margin:0;
}

.box span {
    display:block;
    margin-top:5px;
    margin-bottom:0;
    font-style:italic;
    font-size:17px;
    text-align:center;
    color:#1a1a1a;
}


.info-box {
    display:block;
    margin-bottom:25px;
}

h1.article-name {
    display:block;
    margin-top:0;
    margin-bottom:12px;
    font-size:32px;
}


.info-box span {
    display:block;
    font-size:17px;
    margin-top:2px;
}